altgraph==0.17
astroid==2.4.2
autopep8==1.5.4
future==0.18.2
importlib-metadata==3.4.0
isort==5.7.0
lazy-object-proxy==1.4.3
macholib==1.14
mccabe==0.6.1
numpy==1.19.5
packaging==20.8
pefile==2019.4.18
pycodestyle==2.6.0
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
pylint==2.6.0
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
sip==6.0.0
six==1.15.0
toml==0.10.2
typed-ast==1.4.2
typing-extensions==3.7.4.3
wrapt==1.12.1
zipp==3.4.0
